#body{
    background-color: black; 
    font-size:xx-large;
    text-align: center;
}
#d1 {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 15px;
}
#l0 {
    color: darkslategrey;
}
#l1 {
    color: darkslategrey;
}
#l2 {
    color: darkslategrey;
}
#l3 {
    color: darkslategrey;
}